<div class="create_crypto">
  <div class="align_form">
    <%= form_for [@song, @riff] do |f| %>
      <%= f.text_field :title, placeholder: "Enter Your Riff Title", :style => "text-align: center; height: 40px;" %>
      <br>
    <% end %>
  </div>
</div>
