<%= form_for [@user, @album], url: albums_path, html: { multipart: true }  do |f| %>
  <div class="row-centered">
    <div class="col-centered">
      <%= f.text_field :title, placeholder: "Enter Your Album Title" %>
      <br>
      <%= f.file_field :avatar %>
      <br>
      <%= f.submit %>
    </div>
  </div>


<% end %>
