<div class="margin-top-medium">
  <div class="col-md-offset-1">
    <a href="http://www.audiomancy.net">
      <div class="col-md-offset-2">
        <%= image_tag("correspondenceTable.png") %>
      </div>
      <div class="margin-top-small">
        <%= image_tag("tarotcards.png") %>
      </div>


    </a>
  </div>
</div>
