<div class="col-md-offset-1">
  <a href="http://www.audiomancy.net">
    <%= image_tag("books.png") %>
    <%= image_tag("tarotcards.png") %>
    <div class="col-md-offset-2">
      <%= image_tag("correspondenceTable.png") %>
    </div>
  </a>
</div>
